@use "../../app/defaults.scss" as *;
@use 'sass:color';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: color.change($color-neutral-600, $alpha: 0.5);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 500;
}

.modal {
  display: grid;
  z-index: 550;
  place-items: center;
  height: 100vh;
  width: 100vw;
  user-select: none;
}

.container {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: $color-white;
  box-shadow: $shadow-lg;
  width: 960px;
  height: calc(100vh - 12rem);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: flex-end;
  height: 2rem;
}

.grow {
  flex-grow: 1;
}

.close {
  cursor: pointer;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 0;
  background-color: transparent;
  color: $color-neutral-600;
  font-size: 1.5rem;
  transition: color 0.2s ease-in-out;
}

.content {
  overflow-y:auto;
  scrollbar-width: none;
  height: calc(100% - 2rem);
}