@use "../app/defaults.scss" as *;

.fileGetButton {
  padding: 0.5rem;
  border-radius: 0.375rem;
  border-width: 0px;
  border-style: solid;
  outline: 2px solid $color-zinc-300;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-zinc-200;
  cursor: pointer;
}

.fileGetButton:hover {
  outline: 2px solid $color-border-focus;
  background-color: $color-background-button-hover;
}

.fileGetButtonIcon {
  width: 24px;
  height: 24px;
  stroke: $color-icon-primary;
}

.fileGetButtonIcon:hover {
  stroke: $color-icon-secondary;
}