.container {
  background-color: transparent;
  //border: solid 1px black;
  height: calc(100vh - 20px);
}

.treemap {
  background-color: transparent;
}

.item {
  user-select: none;
  cursor: pointer;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animateBlock {
  animation: zoomIn 330ms ease-out forwards;
  animation-delay: var(--animation-delay, 0ms);
}