.container {
  background-color: transparent;
  //border: solid 1px black;
  height: calc(100vh - 20px);
}

.treemap {
  background-color: transparent;
}

.item {
  user-select: none;
  cursor: pointer;
}

@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 0.5;
  }
}

.animate {
  animation: zoomIn 350ms ease-out forwards;
}