@use "../app/defaults.scss" as *;

.button {
  background-color: $color-zinc-50;
  color: $color-zinc-800;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.icon {
  width: 96px;
  height: 96px;
}
