@use "../app/defaults.scss" as *;

.voiceTool {
  z-index: 100;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button {
  background-color: $color-background-primary;
  color: $color-text-secondary;
  border: solid 8px $color-border-default;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  z-index: 100;
  position: absolute;
  bottom: 56px;

  &:hover {
    background-color: $color-background-button;
    border-color: $color-border-active;
  }
}


.canvas {
  //border: solid 1px $color-red-100;
  //display: none;
  background-color: transparent;
  position: relative;
  margin: 0px auto;
  z-index: 50;
}

.idle {
  background-color: $color-background-primary;
  color: $color-text-secondary;
  border: solid 8px $color-border-default;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  z-index: 100;
  position: absolute;
  bottom: 56px;

  &:hover {
    background-color: $color-background-button;
    border-color: $color-border-active;
  }
}

@keyframes blink {
  0% {
    fill: $color-text-secondary;
  }

  50% {
    fill: $color-border-active;
  }

  100% {
    fill: $color-text-secondary;
  }
}

.call {
  background-color: $color-background-accent;
  color: $color-text-secondary;
  border: solid 8px $color-background-primary;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  z-index: 100;
  position: absolute;
  bottom: 56px;
  

  & svg {
   
    fill: $color-background-primary;
    animation: blink 2s linear infinite;
  }


  &:hover {
    background-color: $color-background-button;
    border-color: $color-background-primary;
  }
}